@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  font-family: 'NanumSquareNeo';
  font-size: 16px;
}

body {
  min-width: 1024px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}


/* 헤더 */

header {
  width: 100%;
  height: 100%;
}

header .top {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 0px 80px;
  justify-content: flex-end;
  align-items: center;
  gap: 800px;
  background: #000;
  color: #fff;
  font-size: 12px;
  position: relative;
}

header .top a:first-child {
  position: absolute;
  left: 46%;
}


header .top a:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

header .nav {
  display: flex;
  height: 58px;
  padding: 0px 60px;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  background: url(/portfolio/patagonia/img/icon/gnb/logo_patagonia.svg) 50% 50% / cover;
  width: 120px;
  height: 20px;
}

header .menu {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
header .menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

header .menu a {
  cursor: pointer;
  position: relative;
}

header .menu a::after {
  content: '';
  height: 8px;
  width: 86px;
  background: #000;
  position: absolute;
  left: 50%;
  top: -24px;
  border-radius: 20px;
  opacity: 0;
  transform: translateX(-50%);
}

header .menu a:hover::after {
  opacity: 1;
}

header .sports_container {
  background: #000;
  color: #fff;
  width: 100%;
  top: 10%;
  left: 0;
  position: absolute;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

header .menu_list li:hover .sports_container,
header .sports_container:hover {
  opacity: 1;
  visibility: visible;
}
header .sports_wrapper {
  width: 800px;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  margin: auto;
}
header .sports_links {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
header .sports_links h3 {
  font-size: 16px;
  font-weight: bold;
}
header .sports_links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  padding: 10px 0;
  font-weight: 500;
}
header .sports_links ul li {
  display: block;
  cursor: pointer;
}

header .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

header .search {
  background: url(/portfolio/patagonia/img/icon/gnb/search.svg);
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center center;
}

header .profile {
  background: url(/portfolio/patagonia/img/icon/gnb/profile.svg);
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center center;
}

header .wishlist {
  background: url(/portfolio/patagonia/img/icon/gnb/wishlist.svg);
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

}

header .cart {
  background: url(/portfolio/patagonia/img/icon/gnb/cart.svg);
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center center;
}

header .hamburger {
  background: url(/portfolio/patagonia/img/icon/gnb/hamburger.svg);
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center center;
}

#fullscreenMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255);
  z-index: 9999;
  overflow: auto;
}

header .fullscreen_menu.active {
  display: block;
}

header .menu_header {
  display: flex;
  padding: 40px 60px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.menu_header a {
  font-size: 12px;
  font-weight: 600;
}

.menu_header i {
  cursor: pointer;
}

header .menu_main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 40px 360px;
  justify-content: center;

}

.menu_main .text1,
.menu_main .text2 {
  display: flex;
  width: calc(100% - 33%);
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.menu_main span {
  color: #999;
  font-size: 12px;
}

.menu_main ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
}

.menu_main li {
  font-size: 16px;
  font-weight: 600;
}

.menu_main .content {
  display: flex;
  width: calc(100% - 33%);
  height: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #FFF;
}

.menu_main .content p {
  font-size: 12px;
}

.menu_main .content1 {
  display: flex;
  width: 260px;
  height: 160px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(/portfolio/patagonia/img/header/img_header_wornwear.jpg) lightgray 50% / cover no-repeat;
}

.menu_main .content1:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(/portfolio/patagonia/img/header/img_header_wornwear.jpg) lightgray 50% / cover no-repeat;
}

.menu_main .content2 {
  display: flex;
  width: 260px;
  height: 160px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(/portfolio/patagonia/img/header/img_header_cleanstline.jpg) lightgray 50% / cover no-repeat;
}

.menu_main .content2:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(/portfolio/patagonia/img/header/img_header_cleanstline.jpg) lightgray 50% / cover no-repeat;
}

.menu_main .content3 {
  display: flex;
  width: 260px;
  height: 160px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(/portfolio/patagonia/img/header/img_header_social.jpg) lightgray 50% / cover no-repeat;
}

.menu_main .content3:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(/portfolio/patagonia/img/header/img_header_social.jpg) lightgray 50% / cover no-repeat;
}

/* 메인 */
.tab_content {
  display: none;
  width: 100%;
  height: 100vh;
}

.tab_content.active {
  display: block;
}

.section1 {
  display: flex;
  height: 580px;
  padding: 191px 303px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
  position: relative;

}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.section1 h1 {
  font-size: 60px;
  position: absolute;
  top: 24%;
  z-index: 2;
}

.section1 p {
  font-size: 20px;
  position: absolute;
  top: 44%;
  z-index: 2;
}

.section1 div {
  display: flex;
  align-items: flex-start;
  gap: 38px;
  font-weight: 700;
  color: #000;
  position: absolute;
  top: 56%;
  z-index: 2;
}
.section1 a {
  display: flex;
  z-index: 2;
}

.section1 a:hover {
  transform: scale3d(1.044, 1.044, 1);
}

.section1 a:first-child {
  display: flex;
  width: 180px;
  height: 60px;
  padding: 18px 46px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;


}

.section1 a:nth-child(2) {
  display: flex;
  width: 180px;
  height: 60px;
  padding: 18px 35px 18px 34px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #FFF;

}

.section2 {
  display: flex;
  width: 100%;
  height: 500px;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.section2 .content {
  display: flex;
  width: 90%;
  height: 480px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.section2 .content h2 {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section2 .content a {
  display: flex;
  width: 180px;
  padding: 18px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #FFF;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  opacity: 0;
}

.section2 .sec2Swiper {
  width: 100%;
  height: 360px;
}

.section2 .swiper-wrapper {
  height: 360px;
}

.section2 .swiper-slide {
  border-radius: 10px;
  position: relative;
  gap: 20px;
}
.section2 .swiper-slide:hover {
  cursor: pointer;
}


.section2 .swiper-slide:hover h2 {

  position: absolute;
  top: 33%;
  transition: .5s ease;
}

.section2 .swiper-slide:hover a {
  opacity: 1;
  transition: .5s ease;
}

.section2 .sec2Card1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(/portfolio/patagonia/img/main/mens-routing_240208.jpg) lightgray 50% / cover no-repeat;
  display: flex;
  padding: 60px 93px 0px 92px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: relative;
}

.section2 .sec2Card1:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/portfolio/patagonia/img/main/mens-routing_240208.jpg) lightgray 50% / cover no-repeat;
}


.section2 .sec2Card2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(/portfolio/patagonia/img/main/womens-routing_240208.jpg) lightgray 50% / cover no-repeat;
  display: flex;
  padding: 60px 93px 0px 92px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: relative;
}

.section2 .sec2Card2:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/portfolio/patagonia/img/main/womens-routing_240208.jpg) lightgray 50% / cover no-repeat;
}


.section2 .sec2Card3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(/portfolio/patagonia/img/main/kids-routing_240208.jpg) lightgray 50% / cover no-repeat;
  display: flex;
  padding: 60px 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.section2 .sec2Card3:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/portfolio/patagonia/img/main/kids-routing_240208.jpg) lightgray 50% / cover no-repeat;
}


.section2 .sec2Card4 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(/portfolio/patagonia/img/main/packs-gear-routing_240226.jpg) lightgray 50% / cover no-repeat;
  display: flex;
  padding: 60px 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.section2 .sec2Card4:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/portfolio/patagonia/img/main/packs-gear-routing_240226.jpg) lightgray 50% / cover no-repeat;
}


.section3 {
  display: flex;
  height: 800px;
  padding: 191px 303px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: url(/portfolio/patagonia/img/main/s24-trail-running-houdini-hero_240417.jpg) 50% 50%;
  color: #FFF;
}

.section3 h1 {
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section3 p {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section3 a {
  display: flex;
  width: 160px;
  height: 50px;
  padding: 21px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #FFF;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.section3 a:hover {
  transform: scale3d(1.044, 1.044, 1);
}

.section3 i {
  position: absolute;
  top: 164px;
  left: 344px;
  color: #000;
}

.section4 {
  display: flex;
  padding: 100px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: #FFF;
}

.section4 .inner {
  display: flex;
  width: 100%;
  height: 600px;
  padding: 191px 303px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: url(/portfolio/patagonia/img/main/hero-hike_s24-hage_m_240411.jpg) 50% 50%;
}

.section4 h1 {
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section4 p {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section4 a {
  display: flex;
  width: 160px;
  height: 50px;
  padding: 21px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #FFF;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section4 a:hover {
  transform: scale3d(1.044, 1.044, 1);
}

.section5 {
  display: flex;
  width: 100%;
  height: 641px;
  padding: 0px 2px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.section5 .sec5Textbox {
  display: flex;
  flex-direction: row;
  width: 360px;
  padding: 0px 60px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section5 .sec5Textbox h3 {
  font-size: 32px;
}

.section5 .cardList {
  width: 100%;
  height: 500px;
}

.section5 .mySwiper {
  width: 100%;
  max-width: 1920px;
  height: 500px;
}

.section5 .swiper-slide {
  border-radius: 10px;
  display: flex;
  padding: 176px 14px 20px 14px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 200px;
  color: #FFF;
  position: relative;
}

.section5 .swiper-slide:hover {
  cursor: pointer;
}

.section5 .swiper-slide:hover span {
  border-radius: 30px;
  border: 2px solid #FFF;
  background: #FFF;
  color: #000;
}

.section5 .swiper-button-prev {
  display: flex;
  background-color: #FFF;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.section5 .swiper-button-prev .bt_left {
  background: url(/portfolio/patagonia/img/icon/body/icon-chevron-slider.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
  width: 24px;
  height: 24px;
  transform: scaleX(-1);
}

.section5 .swiper-button-next {
  display: flex;
  background-color: #FFF;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.section5 .swiper-button-next .bt_right {
  background: url(/portfolio/patagonia/img/icon/body/icon-chevron-slider.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
  width: 24px;
  height: 24px;
}

.section5 .swiper-button-prev::after,
.section5 .swiper-button-next::after {
  display: none;
}


.section5 span {
  border-radius: 30px;
  border: 2px solid #FFF;
  display: flex;
  padding: 6px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 700;
}



.section5 .swiper-slide:first-child {
  gap: 160px;
}

.section5 .sec5Card1 {
  background: #EAEAEA;
  color: #000;
  position: relative;
  overflow: hidden;
}

.section5 .sec5Card1 .card1Bg {
  width: 100%;
  height: 160px;
  position: absolute;
  background: url(/portfolio/patagonia/img/main/A-2.png) lightgray 50% / cover no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0px;
  left: 0px;
}

.section5 .sec5Card1 .card1Title {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.section5 .sec5Card1 span {
  background-color: #FFF;
  font-weight: 700;
}

.section5 .cardWrap {
  position: absolute;
  height: 500px;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  background: #EAEAEA;
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.section5 .swiper-slide:hover .cardWrap {
  transform: translateY(0);

}

.section5 .cardWrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.section5 .swiper-slide:hover .cardWrap::before {
  opacity: 1;
}

.section5 .cardWrap .box5Card1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
  align-items: flex-start;
}

.section5 .cardWrap .box5Card1 div:first-child {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.section5 .cardWrap .box5Card1 div:last-child {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 220px;
  line-height: 2;

}

.section5 .cardWrap:hover span {
  color: #FFFFFF;
  background: #000;
}

.section5 .sec5Card2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/portfolio/patagonia/img/main/C.SALADO_BLOG_THUMB.png) lightgray 50% / cover no-repeat;
}

.section5 .sec5Card2:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.527) 0%, rgba(0, 0, 0, 0.5) 100%), url(/portfolio/patagonia/img/main/C.SALADO_BLOG_THUMB.png) lightgray 50% / cover no-repeat;
}

.section5 .sec5Card2:hover h3 {
  position: absolute;
  top: 10%;
  transition: 0.3s ease;
}

.section5 .sec5Card2 .cardWrap {
  background: none;
}

.section5 .cardWrap .box5Card2 {
  position: absolute;
  top: 20%;
  padding: 0 24px 0 4px;
  line-height: 2;
}

.section5 .sec5Card3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/portfolio/patagonia/img/main/CUSTODIANS_BLOG_THUMB.png) lightgray 50% / cover no-repeat;
}

.section5 .sec5Card3:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.527) 0%, rgba(0, 0, 0, 0.5) 100%), url(/portfolio/patagonia/img/main/CUSTODIANS_BLOG_THUMB.png) lightgray 50% / cover no-repeat;
}

.section5 .sec5Card3:hover h3 {
  position: absolute;
  top: 10%;
  transition: 0.3s ease;
}

.section5 .sec5Card3 .cardWrap {
  background: none;
}

.section5 .cardWrap .box5Card3 {
  position: absolute;
  top: 20%;
  padding: 0 24px 0 4px;
  line-height: 2;

}

.section5 .sec5Card4 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/portfolio/patagonia/img/main/JP_BLOG_THUMB.png) lightgray 50% / cover no-repeat;
}

.section5 .sec5Card4:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.527) 0%, rgba(0, 0, 0, 0.5) 100%), url(/portfolio/patagonia/img/main/JP_BLOG_THUMB.png) lightgray 50% / cover no-repeat;
}

.section5 .sec5Card4:hover h3 {
  position: absolute;
  top: 10%;
  transition: 0.3s ease;
}

.section5 .sec5Card4 .cardWrap {
  background: none;
}

.section5 .cardWrap .box5Card4 {
  position: absolute;
  top: 20%;
  padding: 0 24px 0 4px;
  line-height: 2;

}


.section5 .sec5Card5 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/portfolio/patagonia/img/main/HPD_BLOG_THUMB.png) lightgray 50% / cover no-repeat;
}

.section5 .sec5Card5:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.527) 0%, rgba(0, 0, 0, 0.5) 100%), url(/portfolio/patagonia/img/main/HPD_BLOG_THUMB.png) lightgray 50% / cover no-repeat;
}

.section5 .sec5Card5:hover h3 {
  position: absolute;
  top: 10%;
  transition: 0.3s ease;
}

.section5 .sec5Card5 .cardWrap {
  background: none;
}

.section5 .cardWrap .box5Card5 {
  position: absolute;
  top: 20%;
  padding: 0 4px;
}


.section5 .sec5Card6 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/portfolio/patagonia/img/main/I.png) lightgray 50% / cover no-repeat;
}

.section5 .sec5Card6:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.527) 0%, rgba(0, 0, 0, 0.5) 100%), url(/portfolio/patagonia/img/main/I.png) lightgray 50% / cover no-repeat;
}


.section5 .sec5Card6:hover h3 {
  position: absolute;
  top: 10%;
  transition: 0.3s ease;
}

.section5 .sec5Card6 .cardWrap {
  background: none;
}

.section5 .cardWrap .box5Card6 {
  position: absolute;
  top: 20%;
  padding: 0 4px;
}

.section5 .sec5Card7 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/portfolio/patagonia/img/main/NYS.png) lightgray 50% / cover no-repeat;
}

.section5 .sec5Card7:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.527) 0%, rgba(0, 0, 0, 0.5) 100%), url(/portfolio/patagonia/img/main/NYS.png) lightgray 50% / cover no-repeat;
}


.section5 .sec5Card7:hover h3 {
  position: absolute;
  top: 10%;
  transition: 0.3s ease;
}

.section5 .sec5Card7 .cardWrap {
  background: none;
}

.section5 .cardWrap .box5Card7 {
  position: absolute;
  top: 20%;
  padding: 0 24px 0 4px;
  line-height: 2;

}


.section5 .sec5Card8 {
  background: #EAEAEA;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  text-decoration-line: underline;
}

.section5 .sec5Card8:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.section6 {
  display: flex;
  height: 800px;
  padding: 191px 303px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: url(/portfolio/patagonia/img/main/collections-new-arrivals_240415.jpg) 50% 50%;
  color: #FFF;
}

.section6 h1 {
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section6 p {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section6 .alist {
  display: flex;
  align-items: flex-start;
  gap: 30px;

}

.section6 a {
  display: flex;
  width: 160px;
  height: 50px;
  padding: 21px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #FFF;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.section6 a:hover {
  transform: scale3d(1.044, 1.044, 1);
}


.section7 {
  display: flex;
  height: 600px;
  padding: 0px 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section7 .cardList {
  width: 100%;
  height: 500px;
}

.section7 .mySwiper {
  width: 100%;
  max-width: 1920px;
  height: 500px;
  position: relative;
}

.section7 .swiper-slide {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FFF;
  font-weight: 700;
  position: relative;
}
.section7 .swiper-slide:hover {
  cursor: pointer;
}

.section7 .swiper-slide:hover h3 {
  position: absolute;
  top: 28%;
  transition: .3s ease;
}

.section7 .swiper-slide:hover a {
  position: absolute;
  background: #FFF;
  color: #000;
  transition: .3s ease;
}

.section7 .swiper-button-prev {
  display: flex;
  background-color: #FFF;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.section7 .swiper-button-prev .bt_left {
  background: url(/portfolio/patagonia/img/icon/body/icon-chevron-slider.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
  width: 24px;
  height: 24px;
  transform: scaleX(-1);
}

.section7 .swiper-button-next {
  display: flex;
  background-color: #FFF;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.section7 .swiper-button-next .bt_right {
  background: url(/portfolio/patagonia/img/icon/body/icon-chevron-slider.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
  width: 24px;
  height: 24px;
}

.section7 .swiper-button-prev::after,
.section7 .swiper-button-next::after {
  display: none;
}


.section7 h3 {
  font-size: 20px;
  position: absolute;
  left: 8%;
  top: 40%;
}

.section7 a {
  border-radius: 30px;
  border: 2px solid #FFF;
  display: flex;
  padding: 6px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  position: absolute;
  left: 8%;
  top: 90%;
}

.section7 .sec7Card1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(/portfolio/patagonia/img/main/ico_sports_img02.jpg) lightgray 50% / cover no-repeat;
}

.section7 .sec7Card1:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(/portfolio/patagonia/img/main/ico_sports_img02.jpg) lightgray 50% / cover no-repeat;
}

.section7 .sec7Card2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(/portfolio/patagonia/img/main/ico_sports_img01.jpg ) lightgray 50% / cover no-repeat;
}

.section7 .sec7Card2:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(/portfolio/patagonia/img/main/ico_sports_img01.jpg) lightgray 50% / cover no-repeat;
}


.section7 .sec7Card3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(/portfolio/patagonia/img/main/ico_sports_img04.jpg) lightgray 50% / cover no-repeat;
}

.section7 .sec7Card3:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(/portfolio/patagonia/img/main/ico_sports_img04.jpg) lightgray 50% / cover no-repeat;
}


.section7 .sec7Card4 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(/portfolio/patagonia/img/main/ico_sports_img03.jpg) lightgray 50% / cover no-repeat;
}

.section7 .sec7Card4:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(/portfolio/patagonia/img/main/ico_sports_img03.jpg) lightgray 50% / cover no-repeat;
}



.section7 .sec7Card5 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(/portfolio/patagonia/img/main/ico_sports_img05.jpg) lightgray 50% / cover no-repeat;
}

.section7 .sec7Card5:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(/portfolio/patagonia/img/main/ico_sports_img05.jpg) lightgray 50% / cover no-repeat;
}


.section7 .sec7Card6 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(/portfolio/patagonia/img/main/ico_sports_img06.jpg) lightgray 50% / cover no-repeat;
}

.section7 .sec7Card6:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(/portfolio/patagonia/img/main/ico_sports_img06.jpg) lightgray 50% / cover no-repeat;
}


.section8 {
  display: flex;
  height: 800px;
  padding: 191px 303px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: url(/portfolio/patagonia/img/main/Membership\ Benefits_240220.jpg) 50% 50%;
  color: #FFF;
}

.section8 h1 {
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section8 p {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section8 a {
  display: flex;
  width: 160px;
  height: 50px;
  padding: 21px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #FFF;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.section8 a:hover {
  transform: scale3d(1.044, 1.044, 1);
}

.section9 {
  display: flex;
  width: 100%;
  height: 900px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background: #000;
  color: #fff;
}

.section9 h3 {
  font-size: 24px;
}

.section9 p {
  line-height: 1.75;
}

.section9 .sec9Top {
  display: flex;
  flex-flow: row;
  gap: 60px;
}

.section9 .sec9Top li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.section9 .sec9Top .icon1 {
  width: 48px;
  height: 48px;
  background: url(/portfolio/patagonia/img/icon/footer/icon_footer01.svg);
}

.section9 .sec9Top .icon2 {
  width: 48px;
  height: 48px;
  background: url(/portfolio/patagonia/img/icon/footer/icon_footer02.svg);
}

.section9 .sec9Top .icon3 {
  width: 48px;
  height: 48px;
  background: url(/portfolio/patagonia/img/icon/footer/icon_footer03.svg);
}

.section9 .sec9Top .icon4 {
  width: 48px;
  height: 48px;
  background: url(/portfolio/patagonia/img/icon/footer/icon_footer04.svg);
}

.section9 .sec9Top a {
  text-decoration: underline
}

.section9 .sec9Bottom {
  display: flex;
  gap: 100px;
}

.section9 .sec9Bottom li {
  display: flex;
  width: calc(100% - 33%);
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.section9 .bottom1 a {
  display: flex;
  padding: 13px 43px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #FFF;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section9 .bottom1 a:hover {
  transform: scale3d(1.044, 1.044, 1);
}

.section9 .bottom2 .hover {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 22px;
  flex-wrap: wrap;
}

.section9 .bottom2 .hover a {
  display: flex;
  width: auto;
  padding: 13px 43px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 3px solid #FFF;
}

.section9 .bottom2 .hover a:hover {
  transform: scale3d(1.044, 1.044, 1);
}

.section9 .bottom2 p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section9 .bottom2 p a,
.section9 .bottom2 p span {
  text-decoration-line: underline;
}

.section9 .bottom3 .alist {
  display: flex;
  align-items: flex-start;
  gap: 36px;
}

.section9 .bottom3 .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.section9 .bottom3 .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
/* 푸터 */

footer {
  display: flex;
  width: 100%;
  height: 243px;
  padding: 100px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  background: #000;
}

footer span {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  line-height: 2;
}